<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

  <!-- beans -->
  <bean id="transformer" class="daggerok.rest.MyTransformer"/>
  <bean id="messagingTemplate" class="org.springframework.integration.core.MessagingTemplate" />

  <!-- channels -->
  <int:channel id="messageChannel"/>

  <!-- endpoint -->
  <int:service-activator ref="transformer"
                         method="transform"
                         input-channel="messageChannel" />
</beans>
